:root {
  --body-general-font-color: #212121;
  --logo-color-dark: #000;
  --logo-color-light: #fff;
  --logo-color-color: #2196f3;
  --hover-link-text-color: #2196f3;
  --header-contact-font-color: #757575;
  --hover-contact-font-color: #2196f3;
  --filter-item-background-color: #f5f4fa;
  --hover-filter-item-background-color: #2196f3;
  --hover-filter-item-font-color: #fff;
  --product-name-color: #212121;
  --product-description-color: #757575;
  --footer-contact-font-color: rgba(255, 255, 255, 0.6);
  --footer-adress-color: #fff;
  --footer-background-color: #2f303a;
  --main-section-background-color: #2f303a;
  --main-section-font-color: #fff;
  --call-to-action-background-color: #f5f4fa;
  --hover-call-to-action-background-color: #2196f3;
  --hover-call-to-action-font-color: #fff;
  --person-name-color: #212121;
  --person-description-color: #757575;
  --about-company-description-color: #757575;
}
* {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4%;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--body-general-font-color);
}
.logo-dark,
.logo-color,
.logo-light {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo-color {
  color: var(--logo-color-color);
}
.logo-dark {
  color: var(--logo-color-dark);
}
hr {
  border: 1px solid #ececec;
}
.nav-menu li a {
  color: var(--body-general-font-color);
}
.nav-menu li a:hover,
.nav-menu li a:focus {
  color: var(--hover-link-text-color);
}
.contact-mail,
.contact-phone,
.nav-menu li a {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.contact-mail,
.contact-phone {
  color: var(--header-contact-font-color);
}
.contact-mail:hover,
.contact-mail:focus,
.contact-phone:hover,
.contact-phone:focus,
.footer-phone:hover,
.footer-phone:focus,
.footer-mail:hover,
.footer-mail:focus {
  color: var(--hover-contact-font-color);
}
.product-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: var(--product-name-color);
}
.product-description {
  font-size: 16px;
  line-height: 30px;
  color: var(--product-description-color);
}
.filter-item-button {
  background-color: var(--filter-item-background-color);
}
.filter-item-button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.filter-item-button:hover,
.filter-item-button:focus {
  background-color: var(--hover-filter-item-background-color);
  color: var(--hover-filter-item-font-color);
}
.footer {
  background-color: var(--footer-background-color);
}
.logo-light {
  color: var(--logo-color-light);
}
.adress {
  color: var(--footer-adress-color);
}
.footer-phone,
.footer-mail {
  color: var(--footer-contact-font-color);
}
.adress,
.footer-phone,
.footer-mail {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.main-section {
  background-color: var(--main-section-background-color);
  color: var(--main-section-font-color);
}
.main-section h1 {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.call-to-action-button {
  background-color: var(--call-to-action-background-color);
}
.call-to-action-button:hover,
.call-to-action-button:focus {
  background-color: var(--hover-call-to-action-background-color);
  color: var(--hover-call-to-action-font-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.about-company ul li h3 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.about-company ul li p {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--about-company-description-color);
}
.what-we-do h2 {
  color: var(--body-general-font-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.our-team h2 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.person-name {
  color: var(--person-name-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.person-description {
  color: var(--person-description-color);
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
